*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    background: #0e172d;
}

/* navbar styling */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #a3a2a2;
    /* background-color: rgba(255, 255, 255, 0.714); */
    font-family: 'Bebas Neue', cursive;
}
.logo{
    width: 150px;
}
.nav-links{
    display: flex;
    width: 60%;
    justify-content: space-around;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: rgba(26, 26, 40);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 24px;
    position: relative;
}
.nav-links a::after{
    content: '';
    width: 0;
    height: 3px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.nav-links a:hover::after{
    width: 100%;
}

/* content styling */
.gif{
    width: 100%;
}
.content-img{
    display: block;
    width: 50%;
    height: 50%;
    border-radius: 40px;
    right: 100%;
    text-align: center;
}
/* .img-text {
    position: absolute;
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%);
} */
h1{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    text-shadow: -1px 1px 2px #000;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.512);
    padding: 10px;
}
.list-header{
    position: relative;
    text-align: center;
    color: white;
    margin-top: 60px;
}
.main-content li a{
    text-decoration: none;
    color: white;
    line-height: 50px;
    font-size: 25px;
}
.main-content li a:hover {
    color: rgb(61, 119, 137);
    text-decoration: underline white solid 2px;
}
.main-content li{
    list-style: none;
} 
.list {
    display: flex;
    margin: 0 40px;
    justify-content:space-around;
}
.list li{
    top: 15%;
    position: relative;
}
/* Styling for the footer  */
footer {
    display: flex;
    justify-content: space-around;
    background-color: #a3a2a2;
    padding: 20px 20px;
    margin-top: 60px;
    height: auto;
    width: 100%;
}
footer li {
    list-style: none;
    line-height: 20px;
    font-size: 14px;
}
footer li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.805);
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}
footer li a:hover{
    color: aliceblue;
} 
footer h3{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    padding-bottom: 10px;
    text-decoration: underline black solid 2px;
}

/* mobile nav styling */
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 5px;
    transition: all 0.3s ease;
}
@media screen and (max-width: 1024px){
    .nav-links{
        width: 75%;
    }
    .nav-links a{
        font-size: 16px;
    }
    .logo{
        width: 100px;
    }
}
@media screen and (max-width: 1300px){
    .nav-links{
        width: 70%;
    }
    .nav-links a{
        font-size: 20px;
    }
}
@media screen and (max-width: 960px) {
    .nav-links a{
        font-size: 16px;
    }
}
@media screen and (max-width: 768px){
    body{
        overflow: hidden;
    }
    .nav-links{
        z-index: 99;
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #a3a2a2;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
    h1{
        font-size: 18px;
    }
    .main-content {
        display: flex;
        flex-direction: column;
    }
    .content-img{
        /* display: block;
        width: 50%;
        height: 50%;
        border-radius: 40px;
        right: 100%;
        text-align: center; */
        width: 50%;
    }
    .main-content li a{
        color: white;
        line-height: 20px;
        font-size: 14px;
        /* position: relative; */
    }
    .main-content li {
        position: relative;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from { opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
/* Transforming burger into X */
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}